name: ci
on:
  push:
  pull_request:

env:
  BASE_URL: https://fakerestapi.azurewebsites.net
  TEST_ENVIRONMENT: github-actions
  LOG_LEVEL: INFO

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4.2.2

      - name: Set up Java 21
        uses: actions/setup-java@v4.5.0
        with:
          java-version: 21
          cache: 'gradle'
          distribution: 'zulu'

      - name: Run tests
        env:
          BASE_URL: https://fakerestapi.azurewebsites.net
          LOG_LEVEL: INFO
        run: ./gradlew clean test --no-daemon

      - name: Setup Allure History
        uses: actions/checkout@v4.2.2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@v1.11
        if: always()
        with:
          allure_results: build/allure-results
          allure_history: allure-history

      - name: Publish Allure Report
        if: always()
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history